@{
    Layout = "_Layout";
}



@model webSklad.Models.User
<h4 class=" text-center mb-3 mt-3">Welcome to WebSklad</h4>



@if (User.Identity.IsAuthenticated)
{
    <div>
        <canvas id="lineChart"></canvas>
        <div class=" text-center mb-3 mt-3">

            <h5 class=" text-center mb-3 mt-3">@User.Identity.Name:)) </h5>
            @using (Html.BeginForm("Logout", "Account"))
            {
                <input type="submit" class="buttonsmall" value="Log out" />
            }
        </div>
    </div>
}

else
{
    <div class="mb-3 mt-3 text-center">
        <h5 class=" text-center mb-3 mt-3">Please log in or register </h5>
        <a class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" asp-controller="Account" asp-action="Register">Sign up</a>
        <a class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" asp-controller="Account" asp-action="Login">Authorization</a>
    </div>
}
